numpy
tqdm
h5py
scikit-learn
matplotlib
torch>=1.12.1        #This needs to be compatible with your NVIDIA CUDA Driver (https://pytorch.org/get-started/locally/)
torchvision>=0.13.1  #This needs to be compatible with your NVIDIA CUDA Driver (https://pytorch.org/get-started/locally/)
torchaudio>=0.12.1   #This needs to be compatible with your NVIDIA CUDA Driver (https://pytorch.org/get-started/locally/)
